/*estilo navbar*/
#pb-navbar {
    left: 0;
    width: 100%;
    background-color: rgba(90, 85, 85, 0.7) !important;
    padding: 12px 0;
    position: fixed;
}

.col {
    margin-top: 7%;
}

.contenedor {
    background: url(../img/Imagen_landing_invitacion_1920.png);
    width: 100%;
    height: 99vh;
    background-size:contain;
    background-repeat: no-repeat;
}


.single-slider {
    background-size: cover;
    background-position: left center !important;
}

h1 {
    color: white;
}

.rojo {
    color: red;
    margin-left: 35%;
    margin-top: -70px;
}

.amarillo {
    color: rgb(248, 194, 14);
    margin-left: 35%;
    margin-top: -80px;
}

.azul {
    color: rgb(13, 174, 255);
    margin-left: 35%;
    margin-top: -80px;
}

.botonrojo {
    background-color: red;
    color: white;

}

.img {
    width: 100%;
    height: 100%;
}

.vermas{
    color: red;
    text-decoration: none;
}

.input {
    margin-bottom: 10px;
    border-radius: 5px;
}

.h2 {
    background-color: rgba(2, 2, 2, 0.219);
    color: white;
}

.form {
    background-color: white;
    padding: 0px !important;
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgb(0 0 0 / 40%);
    box-sizing: border-box;
    max-width: 300px;
    margin: 0 10%;
}

.datospersonales {
    background-color: red;
    color: white;
}

.Ayudanos {
    background: url(../img/Enmascarar\ grupo\ 2.png);
    background-size: cover;
    width: 100%;
    padding: 60px;
}

.icons_socios {
    
}

.xqayudar {
    background: url(../img/Grupo\ 472.png);
    color: white;
    padding: 60px;
    background-size: cover;
    width: 100%;
}

.colorfondo {
    background-color: rgb(241, 241, 241);
    padding: 10px;
    margin-bottom: 5%;
}

.botonsocio {
    background-color: rgb(255, 199, 13);
    border-radius: 20px;
    border: none;
    margin-right: 10px;
    padding: 5px;
    color: white;
    width: 15%;
}

.imgdescubre {
    width: 75%;
    height: auto;
    text-align: center;
}

.descubre {
    position: relative;
    margin-top: 0px;
    background-color: rgb(241, 241, 241);
}

.texto {
    position: absolute;
    bottom: 20%;
    left: 40%;
    color: white;
    font-size: 15px;
}

.boton1 {
    background-color: rgb(255, 199, 13);
    border-radius: 20px;
    border: none;
    margin-right: 10px;
    padding: 10px;
    color: white;
    width: 45%;
}

.boton2 {
    background-color: rgb(13, 174, 255);
    border-radius: 20px;
    border: none;
    padding: 10px;
    color: white;
    width: 45%;

}

.penultimo {
    padding: 90px;
    background-color: rgb(241, 241, 241);

}

footer {
    background-color: rgb(4, 37, 54);
    color: white;
    padding-top: 1%;
}

